<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CustomerMapper">
    <resultMap id="CustomerResult" type="Customer">
        <id property="email" column="email" />
        <result property="fname" column="fname" />
        <result property="phone" column="minit" />
        <result property="email" column="lname" />
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <result property="streetno" column="streetno"/>
        <result property="streetname" column="streetname"/>
        <result property="city" column="city"/>
        <result property="state" column="state"/>
        <result property="zip" column="zip"/>
    </resultMap>
    <select id="checkCustomer" resultMap="CustomerResult">
        Select * from Restaurant_Customer where email = #{email}
    </select>
    <insert id="register" parameterType="customer">
        INSERT INTO Restaurant_Customer (fname, lname, email, streetno, streetname, city, state, zip, phone, password) VALUES (#{fname},#{lname},#{email},#{streetno},#{streetname},#{city},#{state},#{zip},#{phone},#{password})
    </insert>
</mapper>