<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RestaurantOrderMapper">
    <resultMap id="OrderSubmit" type="RestOrder">
        <id property="Ono" column="Ono" />
        <result property="CustEmail" column="CustEmail" />
        <result property="OrderDineInFlag" column="OrderDineInFlag" />
        <result property="OrderDeliveryFlag" column="OrderDeliveryFlag"/>
        <result property="OrderPickUpFlag" column="OrderPickUpFlag" />
    </resultMap>
    <insert id="submitOrder" parameterType="RestOrder">
        INSERT INTO RESTAURANT_ORDER (Ono, Orderdate, custEmail, OrderDeliveryFlag, OrderPickupFlag) VALUES (Restaurant_Order_Ono.nextval, SYSDATE, #{CustEmail}, #{OrderDeliveryFlag},"Y")
    </insert>
    <select id="getLastId" resultType="hashmap">
        select Restaurant_Order_Ono.currval from dual;
    </select>
</mapper>
